<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav class="w-full fixed top-0 bg-[#fafafa] h-[10%] flex justify-center items-center gap-5">
        <div class="flex justify-center items-center">
            <div class="mt-2 text-2xl "><i class='bx bx-menu'></i></div>
            <div class="flex flex-row gap-5 ml-3">
                <a href="http://">Women</a>
                <a href="http://">Men</a>
                <a href="http://">Kids</a>
                <a href="http://">Brand</a>
            </div>
        </div>

        <h3 class="ml-[20%]">Heavenly</h3>

        <div class="ml-[25%] flex gap-3">
            <box-icon name='search'></box-icon>
            <a href="/users/logout">
                <box-icon name='user' class="hover:text-red-500"></box-icon>
            </a>
            <box-icon name='heart'></box-icon>
            <box-icon name='shopping-bag'></box-icon>
        </div>








    </nav>