<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>

<body>
    <nav class="w-full fixed top-0 bg-[#881337] h-[10%] flex gap-5">
        <img src="/satchel-shop-backend/images/logo.png" class="h-20 w-20">
        <input type="search" name=""  placeholder="Search in SatchelShop.in" class="w-[35%] px-10 h-10 mt-3 rounded-md ml-[20%]">

        <button class="text-white float-none ">
            <i class="fa fa-caret-down"></i>Account and Lists
        </button>

        




    </nav>