<%- include('./partials/header') %>

<% if(success.length> 0){ %>
    <div class="">
        <span class="">
            <% success %>
        </span>
    </div>
    <% } %>


    
    <div>
        <div>
            <a class="w-fit" href="">All Products</a>
            <a class="" href="">Create new Product</a>
        </div>
    </div>