<%- include('./partials/header') %>

     <% if(success.length > 0){ %>
        <div class="">
            <span class="">
                <% success %>
            </span>
        </div>
        <% } %>


        <div class="flex flex-col min-h-screen">
            <div class="container flex flex-grow px-10 py-20">
                <div class="flex flex-col w-[20%] h-screen items-start">
                    <div class="flex flex-col">
                        <a class="w-fit block mb-2" href="">All Products</a>
                        <a class="w-fit block mb-2" href="">Create new product</a>
                    </div>
                </div>
                <main>
                    <div>
                        <h3 class="text-black">Create New Product</h3>
                    </div>
                </main>
            </div>
        </div>
