<%- include('./partials/header') %>

    <% if (error.length> 0) { %>
        <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= error %>
            </span>
        </div>
        <% } %>



            <div class="w-full h-screen flex px-20">
                <div class="flex items-center justify-center h-screen w-1/2">
                    <div class="w-full px-33">
                        <h3 class="text-3xl ">Welcome to <span class="text-pink-400 font-semibold text-2xl">Satchel
                                Shop</span>
                        </h3>
                        <h4 class="text-l mb-3 ">Create your account</h4>
                        <form action="/users/register" method="post" autocomplete="off">
                            <input class="bg-zinc-100 block w-full [1px] px-3 py-2 mb-3 rounded-md border-zinc-200"
                                type="text" placeholder="Full Name" name="fullname">

                            <input class="bg-zinc-100 block w-full [1px] px-3 py-2 mb-3 rounded-md border-zinc-200"
                                type="email" placeholder="Email" name="email">

                            <input class="bg-zinc-100 block w-full [1px] px-3 py-2 mb-3 rounded-md border-zinc-200"
                                type="password" placeholder="Password" name="password">

                            <input type="submit" value="Create My Account"
                                class="bg-blue-500 px-3 py-2 rounded-full text-white">
                        </form>
                    </div>
                </div>
                <div class="w-1/2 flex items-center justify-center h-screen">
                    <div class="w-full px-32">
                        <h3 class="text-2xl">Login your account</h3>
                        <form autocomplete="off" action="/shop" method="post">
                            <input
                                class="block bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                                type="email" placeholder="Email" name="email">
                            <input
                                class="block bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                                type="password" placeholder="Password" name="password">

                            <input type="submit" value="Login" class="bg-blue-500 px-6 py-2 rounded-full text-white">
                        </form>
                    </div>
                </div>
            </div>
            <%- include('./partials/footer') %>